
@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('micross.woff2') format('woff2'),
        url('micross.woff') format('woff'),
        url('micross.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.page {
    display: none;
    position: absolute;
    top: 2em;
    left: 20em;
}

img {
    max-height: 100%;
    max-width: 100%;
}

body {
    margin: 2em;
}

nav a, h1, .cv {
    font-family: 'Microsoft Sans Serif';
    font-size: 0.95em;
    letter-spacing: 0.15em;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
}

a {
    color: #9c9c9c;
    font-weight: 700;
}

a:hover {
    color: #000;
}

a.mail {
    font-family: 'Microsoft Sans Serif';
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: normal;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav > ol {
  list-style: none;
  padding: 0;
}

nav > ol > li {
  margin: 0.15em 0;
}

